.products {
    margin: 0;
    padding: 0;
    display: flex;
    width: vw;
    height: vh;
    justify-content: center;
    /* align-items: ; */
}

.products span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
}