* {
    width: vw;
    height: vh;
}

.products {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.products span {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
}